{% extends 'base.html' %}

{% block 'main' %}

<div class="container">
    <div class='row'>
        <div class="col-md-6 mx-auto">
            <h3 class="mb-5">user Registration form</h3>
            <form method="post" action="">
                {% csrf_token %}
                <table>
                    {% for x in userform %}
                    <tr>
                        <td>{{x.label}}</td>
                        <td>{{x}}</td>
                        {% endfor %}
                
                    </tr>
                    <tr>
                        <td><input type="submit" value="register" class="btn btn-success"></td>
                        {% if success %}
                        <span class="text-success">{{success}}</span>
                        <a href="/user_login">Login</a>
                        {% endif %}
                    </tr>
                    
                </table>
            </form>

        </div>
    </div>
</div>
{% endblock 'main' %}